<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required: Allows access to the internet for network communication -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Optional: Allows access to track both WiFi and Cellular state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Optional: Grants access only to track WiFi state if the above permission is not used -->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> -->

    <!-- Optional: Required for Bluetooth functionality: Allows access to track Bluetooth state -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <!-- Optional: Required for advertising features: Allows access to track the advertising ID -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name="com.rudderstack.sampleapp.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RudderAndroidSample"
        tools:replace="android:theme">
        <activity
            android:name="com.rudderstack.sampleapp.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.RudderAndroidSample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="kotlinsample.com"
                    android:pathPrefix="/_app"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="kotlinsample.com"
                    android:pathPrefix="/_app"
                    android:scheme="sampleapp" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4271859468376006~9737595580" />

    </application>

</manifest>
